dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
*.log
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
.stack-work/
*.sty
.idea/Funge.iml
.idea/deployment.xml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/libraries/Maven__com_amazonaws_aws_java_sdk_cognitoidentity_1_10_4_1.xml
.idea/libraries/Maven__com_amazonaws_aws_java_sdk_core_1_10_8.xml
.idea/libraries/Maven__com_amazonaws_aws_java_sdk_dynamodb_1_10_8.xml
.idea/libraries/Maven__com_amazonaws_aws_java_sdk_kms_1_10_8.xml
.idea/libraries/Maven__com_amazonaws_aws_java_sdk_s3_1_10_8.xml
.idea/libraries/Maven__com_amazonaws_aws_lambda_java_core_1_0_0.xml
.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_annotations_2_5_0.xml
.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_core_2_5_3.xml
.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_databind_2_5_3.xml
.idea/libraries/Maven__com_google_code_gson_gson_2_3_1.xml
.idea/libraries/Maven__commons_codec_commons_codec_1_6.xml
.idea/libraries/Maven__commons_io_commons_io_2_4.xml
.idea/libraries/Maven__commons_logging_commons_logging_1_1_3.xml
.idea/libraries/Maven__joda_time_joda_time_2_8_1.xml
.idea/libraries/Maven__org_apache_httpcomponents_httpclient_4_3_6.xml
.idea/libraries/Maven__org_apache_httpcomponents_httpcore_4_3_3.xml
