<link href="components/profile/profile.css" rel="stylesheet"/>

<div class="row" view-timeline-directive>
    <div class="col-lg-12">
        <h1 class="page-header">
            {{$ctrl.username}} <span class="pull-right">{{$ctrl.email}}</span>
        </h1>
    </div>
</div>

<!-- Cards -->
<div class="row" populate-cards-directive>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-green" id="card-plants">
            <div class="panel-heading">
                <div class="card-loader">
                    <span class="loader"><span class="loader-inner"></span></span>
                </div>
                <div class="row card">
                    <div class="col-xs-3">
                        <i class="fa fa-leaf fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{ $ctrl.numPlants }}</div>
                        <div>Plants!</div>
                    </div>
                </div>
            </div>
            <a href="#/site/plants">
                <div class="panel-footer card-plants-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-green" id="card-plant-boxes">
            <div class="panel-heading">
                <div class="card-loader">
                    <span class="loader"><span class="loader-inner"></span></span>
                </div>
                <div class="row card">
                    <div class="col-xs-3">
                        <i class="fa fa-tasks fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{ $ctrl.numPlantBoxes }}</div>
                        <div>Plant Boxes!</div>
                    </div>
                </div>
            </div>
            <a href="#/site/things">
                <div class="panel-footer card-plant-boxes-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-green" id="card-score">
            <div class="panel-heading">
                <div class="card-loader">
                    <span class="loader"><span class="loader-inner"></span></span>
                </div>
                <div class="row card">
                    <div class="col-xs-3">
                        <i class="fa fa-flag fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{ $ctrl.points }}</div>
                        <div>Points!</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer card-score-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-green">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-support fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">13</div>
                        <div>Support Tickets!</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
</div>

<!-- Loader -->
<div class="loader-container">
    <span class="loader"><span class="loader-inner"></span></span>
</div>

<!-- Timeline -->
<div class="row timeline-wrapper">
    <div class="col-lg-12">
        <div class="panel panel-green timeline-enclosure">
            <div class="panel-footer">
                <i class="fa fa-clock-o fa-fw"></i> Timeline
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <ul class="timeline">
                    <li ng-repeat="event in $ctrl.timelineEvents" class="event" populate-timeline-directive>
                        <div ng-if="event.category == 'plant-create'" class="timeline-badge success"><i
                                class="fa fa-leaf"></i></div>
                        <div ng-if="event.category == 'plant-delete'" class="timeline-badge danger"><i
                                class="fa fa-leaf"></i></div>
                        <div ng-if="event.category == 'thing-create'" class="timeline-badge success"><i
                                class="fa fa-plug"></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">{{event.title}}</h4>
                                <p>
                                    <small class="text-muted"><i class="fa fa-clock-o"></i> {{event.timestamp}}</small>
                                </p>
                            </div>
                            <div class="timeline-body">
                                <p>{{event.message}}</p>
                                <p>You gained {{event.pointValue}} points!</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
</div>
