<link href="components/profile/profile.css" rel="stylesheet"/>

<div view-timeline-directive>
    <div class="row cards">
        <div class="col-lg-6 dash1">
            <h1 class="page-header">
                Dashboard - {{$ctrl.username}}
            </h1>
        </div>
        <div class="col-lg-6">
            <h1 class="page-header pull-right">
                {{$ctrl.email}}
            </h1>
        </div>
    </div>

    <script type="text/javascript">
        // Adjust cards for small-screen devices
        if ($(window).width() <= 736) {
            $('.page-header').remove();
            $('.dash1').removeClass('col-lg-6').addClass('col-lg-12');
            $('.dash1').html("<h1 class='page-header'>Dashboard</h1>'");
        }

    </script>

    <!-- Cards -->
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <a href="#/site/plants">
                <div class="panel panel-green" id="card-plants">
                    <div class="panel-heading">
                        <div class="row card">
                            <div class="col-xs-3">
                                <i class="fa fa-leaf fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">
                                    <div class="value" style="display: none;">
                                        {{ $ctrl.numPlants }}
                                    </div>
                                    <div class="spinner">
                                        <div class="rect1"></div>
                                        <div class="rect2"></div>
                                        <div class="rect3"></div>
                                        <div class="rect4"></div>
                                        <div class="rect5"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer card-plants-footer">
                        <span class="pull-left">Plants!</span>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-6">
            <a href="#/site/things">
                <div class="panel panel-green" id="card-plant-boxes">
                    <div class="panel-heading">
                        <div class="row card">
                            <div class="col-xs-3">
                                <i class="fa fa-plug fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">
                                    <div class="value" style="display: none;">
                                        {{ $ctrl.numPlantBoxes }}
                                    </div>
                                    <div class="spinner">
                                        <div class="rect1"></div>
                                        <div class="rect2"></div>
                                        <div class="rect3"></div>
                                        <div class="rect4"></div>
                                        <div class="rect5"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer card-plant-boxes-footer">
                        <span class="pull-left">Plant Boxes!</span>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-yellow" id="card-score">
                <div class="panel-heading">
                    <div class="row card">
                        <div class="col-xs-3">
                            <i class="fa fa-flag fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">
                                <div class="value" style="display: none;">
                                    {{ $ctrl.points }}
                                </div>
                                <div class="spinner">
                                    <div class="rect1"></div>
                                    <div class="rect2"></div>
                                    <div class="rect3"></div>
                                    <div class="rect4"></div>
                                    <div class="rect5"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a style="cursor: default;">
                    <div class="panel-footer card-score-footer">
                        <span class="pull-left">Points!</span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-yellow" id="card-streak">
                <div class="panel-heading">
                    <div class="row card">
                        <div class="col-xs-3">
                            <i class="fa fa-calendar-check-o fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">
                                <div class="value" style="display: none;">
                                    {{ $ctrl.streak }}
                                </div>
                                <div class="spinner">
                                    <div class="rect1"></div>
                                    <div class="rect2"></div>
                                    <div class="rect3"></div>
                                    <div class="rect4"></div>
                                    <div class="rect5"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a style="cursor: default;">
                    <div class="panel-footer card-streak-footer">
                        <span class="pull-left">Day Streak!</span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- Loader -->
<div class="loader-container">
    <span class="loader"><span class="loader-inner"></span></span>
</div>

<!-- Timeline -->
<div class="row timeline-wrapper">
    <div class="col-lg-12">
        <div class="panel panel-yellow timeline-enclosure">
            <div class="panel-heading">
                <i class="fa fa-clock-o fa-fw"></i> Timeline
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <ul class="timeline">
                    <li ng-repeat="event in $ctrl.timelineEvents" class="event" populate-timeline-directive>
                        <div ng-if="event.category == 'plant-create'" class="timeline-badge success"><i
                                class="fa fa-leaf"></i></div>
                        <div ng-if="event.category == 'plant-delete'" class="timeline-badge danger"><i
                                class="fa fa-leaf"></i></div>
                        <div ng-if="event.category == 'thing-create'" class="timeline-badge success"><i
                                class="fa fa-plug"></i></div>
                        <div ng-if="event.category == 'thing-delete'" class="timeline-badge danger"><i
                                class="fa fa-plug"></i></div>
                        <div ng-if="event.category == 'streak'" class="timeline-badge success"><i
                                class="fa fa-calendar-check-o"></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">
                                    {{event.title}}
                                    <small class="text-muted pull-right"><i class="fa fa-clock-o"></i> {{event.timestamp}}</small>
                                </h4>
                            </div>
                            <div class="timeline-body">
                                <p>{{event.message}}</p>
                                <br>
                                <button class="btn btn-twitter"
                                   socialshare
                                   socialshare-provider="twitter"
                                   socialshare-text="{{event.message}}"
                                   socialshare-hashtags="plants, IoT"
                                   socialshare-url="http://funge.cf">
                                    <i class="fa fa-twitter"></i>
                                </button>
                                <button class="btn btn-facebook"
                                   socialshare
                                   socialshare-provider="facebook"
                                   socialshare-via="117134758752316"
                                   socialshare-type="feed"
                                   socialshare-text="A World of Plants!"
                                   socialshare-description="{{event.message}}"
                                   socialshare-media="https://raw.githubusercontent.com/DillonHeins/Funge/master/Documentation/images/AWorldOfPlants.png"
                                   socialshare-url="http://funge.cf">
                                    <i class="fa fa-facebook"></i>
                                </button>
                                <button class="btn btn-pinterest"
                                   socialshare
                                   socialshare-provider="pinterest"
                                   socialshare-text="{{event.message}}"
                                   socialshare-media="https://raw.githubusercontent.com/DillonHeins/Funge/master/Documentation/images/AWorldOfPlants.png"
                                   socialshare-url="http://funge.cf">
                                    <i class="fa fa-pinterest"></i>
                                </button>
                                <button class="btn btn-tumblr"
                                   socialshare
                                   socialshare-provider="tumblr"
                                   socialshare-text="{{event.message}}"
                                   socialshare-media="https://raw.githubusercontent.com/DillonHeins/Funge/master/Documentation/images/AWorldOfPlants.png"
                                   socialshare-url="http://funge.cf">
                                    <i class="fa fa-tumblr"></i>
                                </button>
                                <button class="btn btn-telegram"
                                   socialshare
                                   socialshare-provider="telegram"
                                   socialshare-text="{{event.message}}"
                                   socialshare-url="http://funge.cf">
                                    <img width="15" valign="middle" style="margin-top:-3px;" src="/images/telegram.png">
                                </button>
                                <span ng-if="event.pointValue > 0" class="pull-right">
                                    <button type="button" class="btn btn-primary btn-points"><span class="badge">+{{event.pointValue}}</span> points!</button>
                                </span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
</div>
