<div class="row" things-directive>
  <div class="col-lg-12">
    <h1 class="page-header">
      Plant Boxes <button id="helpThing" class="btn btn-warning">Help me <span class="fa fa-exclamation"></span></button>
      <button id="newThing" class="btn btn-material pull-right" data-toggle="modal" data-target="#createThingModal">
        Create New Plant Box
      </button>
    </h1>
  </div>
</div>

<div class="loader-container">
  <span class="loader"><span class="loader-inner"></span></span>
</div>

<div class="row plant-card" view-thing-details-directive>
  <div ng-repeat="thing in $ctrl.things" class="panel panel-yellow">
    <div class="panel-heading">
      <div class="row">
        <div class="col-xs-3 col-md-2 circle-wrapper">
          <span class="fa-stack fa-3x circle">
              <i class="fa fa-circle fa-stack-2x" style="color: {{thing.colour}};"></i>
              <strong class="fa-stack-1x text-primary" style="color: white;">{{ thing.thingName | limitTo : 1 : 0}}</strong>
            </span>
        </div>
        <div class="col-xs-9 col-md-3">
          <div style="border-left: 2px solid {{thing.colour}}; padding-left: 5px;"><h2>{{thing.thingName}}</h2></div>
          <div style="border-left: 2px solid {{thing.colour}}; padding-left: 5px; padding-right: 10px;">
            <select ng-model="thing.selectedPlant" type="text" class="form-control">
              <option ng-repeat="p in $ctrl.plantList" value="{{p.plantId}}">{{p.plantName}}</option>
            </select>
          </div>
        </div>
        <div class="col-xs-12 col-md-5 files-wrapper col-md-offset-2" style="border-left: 2px solid {{thing.colour}};">
          <div>
            <a class="a-files" ng-repeat="file in thing.files track by $index" href="{{file}}">{{thing.fileNames[$index]}} <br></a>
          </div>
        </div>
        <div class="col-xs-4">
        </div>
      </div>
    </div>
    <a>
      <div class="panel-footer" style="background-color: {{thing.colour}}">
        <span class="pull-left">
          <button class="btn btn-material btn-material-green thingUpdate" style="min-width: 72px;" ng-click="$ctrl.updateDetails($event, thing.thingName, thing.username, thing.colour, thing.selectedPlant)">
            <span>Update</span>
            <div class="spinner-bounce update-spin" style="display: none; vertical-align: middle;">
              <div class="double-bounce1"></div>
              <div class="double-bounce2"></div>
            </div>
            <svg style="display: none;" class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
              <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"></circle>
              <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"></path>
            </svg>
          </button>
        </span>
        <span class="pull-right">
          <button class="btn btn-material thingDelete btn-material-red" data-toggle="modal"
                  data-target="#deleteThingModal" ng-click="$ctrl.selectThing(thing.thingName)">
            Delete
          </button>
        </span>
        <div class="clearfix"></div>
      </div>
    </a>
  </div>
</div>

<script type="text/javascript">
  // Adjust cards for small-screen devices
  if ($(window).width() <= 736) {
    $('.circle').removeClass('fa-3x').addClass('fa-2x');
    $('.files-wrapper').css('border', 'none');
  }
</script>

<div class="modal fade" id="createThingModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" create-thing-directive>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><img width="15" valign="middle" style="margin-top:-3px;" src="/images/close.png"></button>
        <h4 class="modal-title" id="myModalLabel1">Create New Plant Box</h4>
      </div>
      <div class="modal-body">
        <form role="form">
          <div class="form-group">
            <label for="thingName">Plant Box name:</label>
            <input id="thingName" ng-model="$ctrl.newThing.thingName" type="text" class="form-control">
          </div>
          <div class="form-group">
            <label for="plantId">Plant:</label>
            <select id="plantId" type="text" class="form-control" ng-model="$ctrl.newThing.plantId">
              <option ng-repeat="p in $ctrl.plantList" value="{{p.plantId}}">{{p.plantName}}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="thingColour">Plant Box colour:</label>
            <ngjs-color-picker id="thingColour" selected-color="$ctrl.selectedColour" options="$ctrl.colourOptions" custom-colors="$ctrl.customColors"></ngjs-color-picker>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button id="createThing" type="button" class="btn btn-material" style="background-color: #1D9D73; color: white" data-dismiss="modal">Create</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="deleteThingModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" delete-thing-directive>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #db4437;">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><img width="15" valign="middle" style="margin-top:-3px;" src="/images/close.png"></button>
        <h4 class="modal-title" id="myModalLabel">Delete Plant Box Confirmation</h4>
      </div>
      <div class="modal-body">
        <form role="form">
          <div class="form-group">
            <label for="deleteThingName">Please enter the name of your plant box to confirm deletion:</label>
            <input id="deleteThingName" type="text" class="form-control">
          </div>
          <div class="form-group">
            <b id="thingError" style="color: #db4437; display: none;">Incorrect plant box name</b>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button id="deleteThing" type="button" class="btn btn-material" style="background-color: #db4437; color: white">Confirm</button>
      </div>
    </div>
  </div>
</div>