<link href="components/register/register.css" rel="stylesheet"/>

<div id="register">
    <form class="form-signin" action="" method="">
        <input type="text" class="form-control" id="email" placeholder="Email Address" autofocus
               ng-model="$ctrl.user.email">
        <input type="text" class="form-control" id="username" placeholder="Username"
               ng-model="$ctrl.user.username">
        <input type="password" class="form-control" id="password" placeholder="Password"
               ng-model="$ctrl.user.password">
        <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm Password"
               ng-model="$ctrl.user.confirmPassword">
        <input type="button" class="btn btn-lg btn-default btn-block" id="signUp" value="Sign Up"/>
        <div class="loader-container btn btn-lg btn-primary btn-block" style="display: none">
            <span class="loader"><span class="loader-inner"></span></span>
        </div>
    </form>
    <div id="tabs">
        <p id="switchToLogin" class="text-center" switch-to-login><a href="">Have an Account?</a></p>
    </div>
</div>
