<div class="row cards">
  <div class="col-lg-12">
    <h1 class="page-header">Details for: {{$ctrl.plantDetails.plantName}}</h1>
    <div id="mqttStatus" class="alert alert-danger col-md-12" role="alert" style="display: flex; align-items: center;">
      <div id="noplantbox" style="display: none;">
        There is no plant box associated with this plant. Add one here: <a href="/#/site/things" style="color: white; text-decoration: underline;">Plant Boxes</a>
      </div>
      <div id="connected" style="display: none;">
        Connected to plant box: <a href="/#/site/things" style="color: white; text-decoration: underline;">{{$ctrl.thing.thingName}}</a>
      </div>
      <div id="connecting" style="display: inline-block;">Connecting to plant box</div>
      <div class="spinner-bounce mqtt-spin" style="display: inline-block; margin-left: 1em;">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
      </div>
      <div class="spinner-blip" style="display: none; margin-left: 1em;"></div>
    </div>
    <input type="hidden" ng-model="$ctrl.status" status-directive plant-detail-canvas-directive="">
  </div>
</div>

<div class="row" plant-detail-directive>
  <div class="col-lg-12">
    <div id="plantDetailsPanel" class="panel panel-yellow">
      <div class="panel-heading" style="background-color: {{$ctrl.plantDetails.colour}}">
        Plant Details
      </div>
      <div class="panel-body">
        <form role="form">
          <div class="form-group input-group">
            <span class="input-group-addon">
              <i class="fa fa-leaf"></i>
            </span>
            <input ng-model="$ctrl.plantDetails.plantName" type="text" class="form-control">
          </div>
          <div class="form-group input-group">
              <span class="input-group-addon">
                <i class="fa fa-file"></i>
              </span>
            <ui-select id="plantType" ng-model="$ctrl.plantDetails.plantType">
              <ui-select-match placeholder="Select or search for a plant type...">{{$select.selected}}</ui-select-match>
              <ui-select-choices repeat="t in getPlantTypes($select.search) | filter: $select.search track by $index">
                <div ng-bind="t"></div>
              </ui-select-choices>
            </ui-select>
          </div>
          <div class="form-group input-group">
            <span class="input-group-addon">
              <i class="fa fa-calendar"></i>
            </span>
            <input ng-model="$ctrl.plantDetails.plantAge" type="text" class="form-control" disabled>
          </div>
          <div class="form-group">
            <button id="plantUpdate" class="btn btn-material btn-material-green pull-left" style="min-width: 72px;" type="button">
              <span>Update</span>
              <div class="spinner-bounce update-spin" style="display: none; vertical-align: middle;">
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
              </div>
              <svg style="display: none;" class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"></circle>
                <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"></path>
              </svg>
            </button>
          </div>
          <div class="form-group">
            <input class="btn btn-material btn-material-red pull-right" data-toggle="modal" data-target="#deletePlantModal" type="button" value="Delete">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div pause-play>
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-yellow panel-control">
        <div class="panel-heading">
          Control Panel
          <button class="btn btn-material btn-circular btnPausePlay" data-chart="temp"
                  style="margin-left: 10px; opacity: 0;"><i class="fa fa-pause pausePlay"></i></button>
        </div>
        <div class="panel-body" id="controlPanelBody">
          <div class="spinner" style="text-align: center;">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
          </div>

          <div class="panel-body-content" style="display: none;">
            <label style="color: #757575;">Wavelength (nm)</label>
            <rzslider id="nmSlider" rz-slider-model="$ctrl.nmSlider.value" rz-slider-options="$ctrl.nmSlider.options" ng-model="$ctrl.nmSlider.value"></rzslider><br><br>

            <label style="color: #757575;">Fan Power</label>
            <rzslider id="fanSlider" rz-slider-model="$ctrl.fanSlider.value" rz-slider-options="$ctrl.fanSlider.options"></rzslider><br><br>

            <label style="color: #757575;">Pump Time (s)</label><br>
            <div class="row">
              <div class="col-md-2">
                <input class="form-control" ng-model="$ctrl.pumpTime" type="number" min="0" max="120" step="1">
              </div>
            </div>
            <br>

            <button id="updateControl" class="btn btn-material btn-material-green" ng-click="$ctrl.updateControl()" style="min-width: 70.13px;">
              <span>Submit</span>
              <div class="spinner-bounce update-spin" style="display: none; vertical-align: middle;">
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
              </div>
              <svg style="display: none;" class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"></circle>
                <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"></path>
              </svg>
            </button>
              <!--<div class="col-md-4 pull-right" style="display: flex; align-items: center; text-align: right;">
                <div style="color: #757575; align-self: center; display: inline-block; font-weight: 700">Connectivity:</div> <div class="spinner-blip" style="display: inline-block; align-self: center"></div>
              </div>-->
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="panel panel-yellow panel-temp">
        <div class="panel-heading">
          Temperature Panel
          <button class="btn btn-material btn-circular btnPausePlay" data-chart="temp"
                  style="margin-left: 10px;"><i class="fa fa-pause pausePlay" style="color: #ffc107;"></i></button>
          <span id="tempWarning" class="pull-right"><i class="fa fa-exclamation-triangle fa-2x"></i></span>
          <span id="tempSuccess" class="pull-right" style="display: none;"><i class="fa fa-signal fa-2x"></i></span>
        </div>
        <div class="panel-body" id="tempPanelBody">
          <div class="spinner" style="text-align: center;">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
          </div>

          <div id="tempTab" style="display: none;" class="panel-body-content">
            <ul class="nav nav-pills temp-pills">
              <li class="active">
                <a data-target="#live-temp" data-toggle="tab">Live</a>
              </li>
              <li>
                <a data-target="#historical-temp" data-toggle="tab">Historical</a>
              </li>
            </ul>

            <div class="tab-content clearfix">
              <div class="tab-pane active" id="live-temp">
                <canvas id="live-chart-temperature" plant-detail-canvas-directive></canvas>
                <div class="row" style="margin-top: 30px;">
                  <div class="col-md-4">
                    <span style="background-color: #ffc107; color: white; padding: 10px;">Average: </span>
                    <span id="tempAverage" style="margin-left: 10px;">{{$ctrl.avgMinMax.temp.avg}} °C</span>
                  </div>
                  <div class="col-md-4">
                    <span style="background-color: #ffc107; color: white; padding: 10px;">Min: </span>
                    <span id="tempMin" style="margin-left: 10px;">{{$ctrl.avgMinMax.temp.min}} °C</span>
                  </div>
                  <div class="col-md-4">
                    <span style="background-color: #ffc107; color: white; padding: 10px;">Max: </span>
                    <span id="tempMax" style="margin-left: 10px;">{{$ctrl.avgMinMax.temp.max}} °C</span>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="historical-temp" plant-detail-canvas-directive>
                <canvas id="historical-chart-temperature"></canvas>
                <div class="row" style="margin-top: 10px;">
                  <div class="col-md-5">
                    Begin: <md-datepicker ng-model="$ctrl.startDate" md-max-date="$ctrl.maxDate" md-placeholder="Enter date"></md-datepicker>
                  </div>
                  <div class="col-md-5">
                    <span style="padding-left: 0.5em;">End: <md-datepicker ng-model="$ctrl.endDate" md-min-date="$ctrl.startDate" md-max-date="$ctrl.maxDate" md-placeholder="Enter date"></md-datepicker></span>
                  </div>
                  <div class="col-md-2">
                    <button class="btn btn-material btn-material-green pull-right history-chart" data-id="tempHistory">Submit</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-yellow panel-humidity">
        <div class="panel-heading">
          Humidity Panel
          <button class="btn btn-material btn-circular btnPausePlay" data-chart="humidity"
                  style="margin-left: 10px;"><i class="fa fa-pause pausePlay" style="color: #db4437;"></i></button>
          <span id="humidityWarning" class="pull-right"><i class="fa fa-exclamation-triangle fa-2x"></i></span>
          <span id="humiditySuccess" class="pull-right" style="display: none;"><i class="fa fa-signal fa-2x"></i></span>
        </div>
        <div class="panel-body">
          <div class="spinner" style="text-align: center;">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
          </div>

          <div id="humidityTab" class="panel-body-content" style="display: none;">
            <ul class="nav nav-pills humidity-pills">
              <li class="active">
                <a data-target="#live-humidity" data-toggle="tab">Live</a>
              </li>
              <li>
                <a data-target="#historical-humidity" data-toggle="tab">Historical</a>
              </li>
            </ul>

            <div class="tab-content clearfix">
              <div class="tab-pane active" id="live-humidity">
                <canvas id="live-chart-humidity" plant-detail-canvas-directive></canvas>
                <div class="row" style="margin-top: 30px;">
                  <div class="col-md-4">
                    <span style="background-color: #db4437; color: white; padding: 10px;">Average: </span>
                    <span id="humidityAverage" style="margin-left: 10px;">{{$ctrl.avgMinMax.humidity.avg}} %</span>
                  </div>
                  <div class="col-md-4">
                    <span style="background-color: #db4437; color: white; padding: 10px;">Min: </span>
                    <span id="humidityMin" style="margin-left: 10px;">{{$ctrl.avgMinMax.humidity.min}} %</span>
                  </div>
                  <div class="col-md-4">
                    <span style="background-color: #db4437; color: white; padding: 10px;">Max: </span>
                    <span id="humidityMax" style="margin-left: 10px;">{{$ctrl.avgMinMax.humidity.max}} %</span>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="historical-humidity">
                <h3>historical data over here</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-yellow panel-moisture">
        <div class="panel-heading">
          Moisture Panel
          <button class="btn btn-material btn-circular btnPausePlay" data-chart="moisture"
                  style="margin-left: 10px;"><i class="fa fa-pause pausePlay" style="color: #4285f4;"></i></button>
          <span id="moistureWarning" class="pull-right"><i class="fa fa-exclamation-triangle fa-2x"></i></span>
          <span id="moistureSuccess" class="pull-right" style="display: none;"><i class="fa fa-signal fa-2x"></i></span>
        </div>
        <div class="panel-body">
          <div class="spinner" style="text-align: center;">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
          </div>

          <div id="moistureTab" class="panel-body-content" style="display: none;">
            <ul class="nav nav-pills moisture-pills">
              <li class="active">
                <a data-target="#live-moisture" data-toggle="tab">Live</a>
              </li>
              <li>
                <a data-target="#historical-moisture" data-toggle="tab">Historical</a>
              </li>
            </ul>

            <div class="tab-content clearfix">
              <div class="tab-pane active" id="live-moisture">
                <canvas id="live-chart-moisture" plant-detail-canvas-directive></canvas>
                <div class="row" style="margin-top: 30px;">
                  <div class="col-md-4">
                    <span style="background-color: #4285f4; color: white; padding: 10px;">Average: </span>
                    <span id="moistureAverage" style="margin-left: 10px;">{{$ctrl.avgMinMax.moisture.avg}} %</span>
                  </div>
                  <div class="col-md-4">
                    <span style="background-color: #4285f4; color: white; padding: 10px;">Min: </span>
                    <span id="moistureMin" style="margin-left: 10px;">{{$ctrl.avgMinMax.moisture.min}} %</span>
                  </div>
                  <div class="col-md-4">
                    <span style="background-color: #4285f4; color: white; padding: 10px;">Max: </span>
                    <span id="moistureMax" style="margin-left: 10px;">{{$ctrl.avgMinMax.moisture.max}} %</span>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="historical-moisture">
                <h3>historical data over here</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-yellow panel-aggregate">
        <div class="panel-heading">
          Aggregate Panel
          <button class="btn btn-material btn-circular btnPausePlay" data-chart="aggregate"
                  style="margin-left: 10px;"><i class="fa fa-pause pausePlay" style="color: #c52062;"></i></button>
        </div>
        <div class="panel-body">
          <div class="spinner" style="text-align: center;">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
          </div>

          <div id="aggregateTab" class="panel-body-content" style="display: none;">
            <ul class="nav nav-pills moisture-pills">
              <li class="active">
                <a data-target="#live-aggregate" data-toggle="tab">Live</a>
              </li>
              <li>
                <a data-target="#historical-aggregate" data-toggle="tab">Historical</a>
              </li>
            </ul>

            <div class="tab-content clearfix">
              <div class="tab-pane active" id="live-aggregate">
                <div class="col-md-6">
                  <canvas id="live-chart-aggregate" plant-detail-canvas-directive></canvas>
                </div>
                <div class="col-md-6">
                  <canvas id="live-chart-aggregate-line" plant-detail-canvas-directive></canvas>
                </div>
              </div>
              <div class="tab-pane" id="historical-aggregate">
                <h3>historical data over here</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="deletePlantModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" delete-plant-directive>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #db4437;">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><img width="15" valign="middle" style="margin-top:-3px;" src="/images/close.png"></button>
        <h4 class="modal-title" id="myModalLabel">Delete Plant Confirmation</h4>
      </div>
      <div class="modal-body">
        <form role="form">
          <div class="form-group">
            <label for="plantName">Please enter the name of your plant to confirm deletion:</label>
            <input id="plantName" type="text" class="form-control">
          </div>
          <div class="form-group">
            <b id="plantError" style="color: #db4437; display: none;">Incorrect plant name</b>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button id="deletePlant" type="button" class="btn btn-material" style="background-color: #db4437; color: white">Confirm</button>
      </div>
    </div>
  </div>
</div>