<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Details for: {{$ctrl.plantDetails.plantName}}</h1>
    <div id="mqttStatus" class="alert alert-danger" role="alert">Disconnected from MQTT client</div>
    <input type="hidden" ng-model="$ctrl.status" status-directive plant-detail-canvas-directive="">
  </div>
</div>

<div class="row" plant-detail-directive>
  <div class="col-lg-12">
    <div id="plantDetailsPanel" class="panel panel-yellow">
      <div class="panel-heading" style="background-color: {{$ctrl.plantDetails.colour}}">
        Plant Details
      </div>
      <div class="panel-body">
        <form role="form">
          <div class="form-group input-group">
            <span class="input-group-addon">
              <i class="fa fa-file"></i>
            </span>
            <input ng-model="$ctrl.plantDetails.plantType" type="text" class="form-control">
          </div>
          <div class="form-group input-group">
            <span class="input-group-addon">
              <i class="fa fa-leaf"></i>
            </span>
            <input ng-model="$ctrl.plantDetails.plantName" type="text" class="form-control">
          </div>
          <div class="form-group input-group">
            <span class="input-group-addon">
              <i class="fa fa-calendar"></i>
            </span>
            <input ng-model="$ctrl.plantDetails.plantAge" type="text" class="form-control" disabled>
          </div>
          <div class="form-group">
            <input id="plantDelete" class="btn btn-material btn-material-red pull-left" type="button" value="Delete">
          </div>
          <div class="form-group">
            <input id="plantUpdate" class="btn btn-material btn-material-green pull-right" type="button" value="Update">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="panel panel-yellow panel-control">
      <div class="panel-heading">
        Control Panel
      </div>
      <div class="panel-body">
        <color-picker ng-model="$ctrl.color" options="$ctrl.options" event-api="$ctrl.eventApi"></color-picker>
        <rzslider
         id="fanSlider"
         rz-slider-model="fanSlider.value"
         rz-slider-options="fanSlider.options"></rzslider>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="panel panel-yellow panel-temp">
      <div class="panel-heading">
        Temperature Panel
      </div>
      <div class="panel-body">
        <div id="tempTab">
          <ul class="nav nav-pills temp-pills">
            <li class="active">
              <a data-target="#live-temp" data-toggle="tab">Live</a>
            </li>
            <li>
              <a data-target="#historical-temp" data-toggle="tab">Historical</a>
            </li>
          </ul>

          <div class="tab-content clearfix">
            <div class="tab-pane active" id="live-temp">
              <canvas id="live-chart-temperature" plant-detail-canvas-directive></canvas>
            </div>
            <div class="tab-pane" id="historical-temp">
              <h3>historical data over here</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="panel panel-yellow panel-humidity">
      <div class="panel-heading">
        Humidity Panel
      </div>
      <div class="panel-body">
        <div id="humidityTab">
          <ul class="nav nav-pills humidity-pills">
            <li class="active">
              <a data-target="#live-humidity" data-toggle="tab">Live</a>
            </li>
            <li>
              <a data-target="#historical-humidity" data-toggle="tab">Historical</a>
            </li>
          </ul>

          <div class="tab-content clearfix">
            <div class="tab-pane active" id="live-humidity">
              <canvas id="live-chart-humidity" plant-detail-canvas-directive></canvas>
            </div>
            <div class="tab-pane" id="historical-humidity">
              <h3>historical data over here</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-yellow panel-moisture">
      <div class="panel-heading">
        Moisture Panel
      </div>
      <div class="panel-body">
        <div id="moistureTab">
          <ul class="nav nav-pills moisture-pills">
            <li class="active">
              <a data-target="#live-moisture" data-toggle="tab">Live</a>
            </li>
            <li>
              <a data-target="#historical-moisture" data-toggle="tab">Historical</a>
            </li>
          </ul>

          <div class="tab-content clearfix">
            <div class="tab-pane active" id="live-moisture">
              <canvas id="live-chart-moisture" plant-detail-canvas-directive></canvas>
            </div>
            <div class="tab-pane" id="historical-moisture">
              <h3>historical data over here</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-yellow panel-aggregate">
      <div class="panel-heading">
        Aggregate Panel
        <button class="btn btn-material btn-circular" id="btnAggregatePausePlay"
                style="margin-left: 10px;"><i class="fa fa-pause" id="aggregatePausePlay" style="color: #c52062;" pause-play></i></button>
      </div>
      <div class="panel-body">
        <div id="aggregateTab">
          <ul class="nav nav-pills moisture-pills">
            <li class="active">
              <a data-target="#live-aggregate" data-toggle="tab">Live</a>
            </li>
            <li>
              <a data-target="#historical-aggregate" data-toggle="tab">Historical</a>
            </li>
          </ul>

          <div class="tab-content clearfix">
            <div class="tab-pane active" id="live-aggregate">
              <div class="col-md-6">
                <canvas id="live-chart-aggregate" plant-detail-canvas-directive></canvas>
              </div>
              <div class="col-md-6">
                <canvas id="live-chart-aggregate-line" plant-detail-canvas-directive></canvas>
              </div>
            </div>
            <div class="tab-pane" id="historical-aggregate">
              <h3>historical data over here</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>