<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Details for: {{$ctrl.plantDetails.plantName}}</h1><div id="mqttStatus" class="alert alert-danger" role="alert">Disconnected from MQTT client</div>
    <input type="hidden" ng-model="$ctrl.status" status-directive plant-detail-canvas-directive="">
  </div>
</div>

<div class="row" plant-detail-directive>
  <div class="col-lg-12">
    <div id="plantDetailsPanel" class="panel panel-green">
      <div class="panel-heading" style="background-color: {{$ctrl.plantDetails.colour}}">
        Plant Details
      </div>
      <div class="panel-body">
        <form role="form">
          <div class="form-group input-group">
            <span class="input-group-addon">
              <i class="fa fa-info-circle"></i>
            </span>
            <input ng-model="$ctrl.plantDetails.plantId" type="text" class="form-control" disabled>
          </div>
          <div class="form-group input-group">
            <span class="input-group-addon">
              <i class="fa fa-file"></i>
            </span>
            <input ng-model="$ctrl.plantDetails.plantType" type="text" class="form-control">
          </div>
          <div class="form-group input-group">
            <span class="input-group-addon">
              <i class="fa fa-leaf"></i>
            </span>
            <input ng-model="$ctrl.plantDetails.plantName" type="text" class="form-control">
          </div>
          <div class="form-group input-group">
            <span class="input-group-addon">
              <i class="fa fa-calendar"></i>
            </span>
            <input ng-model="$ctrl.plantDetails.plantAge" type="text" class="form-control" disabled>
          </div>
          <div class="form-group">
            <input id="plantDelete" class="btn btn-danger pull-left" type="button" value="Delete">
          </div>
          <div class="form-group">
            <input id="plantUpdate" style="background-color: {{$ctrl.plantDetails.colour}}" class="btn btn-success pull-right" type="button" value="Update">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <!--<div class="col-lg-6">
    <canvas id="live-chart" plant-detail-canvas-directive></canvas>
  </div>-->

  <div class="col-lg-12">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default panel-graph">
        <div class="panel-heading" role="tab" id="headingOne">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Temperature
            </a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body">
            <canvas id="live-chart-temperature" plant-detail-canvas-directive></canvas>
          </div>
        </div>
      </div>
      <div class="panel panel-default panel-graph">
        <div class="panel-heading" role="tab" id="headingTwo">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Humidity
            </a>
          </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
          <div class="panel-body">
            <canvas id="live-chart-humidity" plant-detail-canvas-directive></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>