@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,800");

.section{
    background-size: cover;
    text-align: center;
}

#section0 {
    background-image: url(/images/cover.jpg);
    padding: 10% 0 0 0;
}

.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall
{
    margin-top: 80px;
    padding: 40px 0px 20px 0px;
}
.login-title
{
    color: #555;
    font-size: 22px;
    font-weight: 400;
    display: block;
}
.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.select-img
{
    border-radius: 50%;
    display: block;
    height: 75px;
    margin: 0 30px 10px;
    width: 75px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.select-name
{
    display: block;
    margin: 30px 10px 10px;
}

.logo-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

#switchToRegister > a, #switchToLogin > a {
    color: #FFF;
    font-weight: bold;
}

#login > form > input:nth-child(1), #register > form > input {
    margin-bottom: 10px;
    border-radius: 3px;
}

#login > form > input:nth-child(2), #register > form > input:nth-last-child(2) {
    margin-bottom: 20px;
    border-radius: 3px;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

/* Box Model */

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* Containers */

.container {
    margin-left: auto;
    margin-right: auto;
}

.container.\31 25\25 {
                     width: 100%;
                     max-width: 1200px;
                     min-width: 960px;
                 }

.container.\37 5\25 {
                    width: 720px;
                }

.container.\35 0\25 {
                    width: 480px;
                }

.container.\32 5\25 {
                    width: 240px;
                }

.container {
    width: 960px;
}

@media screen and (min-width: 737px) {

    .container.\31 25\25 {
                         width: 100%;
                         max-width: 1500px;
                         min-width: 1200px;
                     }

    .container.\37 5\25 {
                        width: 900px;
                    }

    .container.\35 0\25 {
                        width: 600px;
                    }

    .container.\32 5\25 {
                        width: 300px;
                    }

    .container {
        width: 1200px;
    }

}

@media screen and (min-width: 737px) and (max-width: 1200px) {

    .container.\31 25\25 {
                         width: 100%;
                         max-width: 1250px;
                         min-width: 1000px;
                     }

    .container.\37 5\25 {
                        width: 750px;
                    }

    .container.\35 0\25 {
                        width: 500px;
                    }

    .container.\32 5\25 {
                        width: 250px;
                    }

    .container {
        width: 1000px;
    }

}

@media screen and (max-width: 736px) {

    .container.\31 25\25 {
                         width: 100%;
                         max-width: 125%;
                         min-width: 100%;
                     }

    .container.\37 5\25 {
                        width: 75%;
                    }

    .container.\35 0\25 {
                        width: 50%;
                    }

    .container.\32 5\25 {
                        width: 25%;
                    }

    .container {
        width: 100% !important;
    }

}

/* Grid */

.row {
    border-bottom: solid 1px transparent;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.row > * {
    float: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.row:after, .row:before {
    content: '';
    display: block;
    clear: both;
    height: 0;
}

.row.uniform > * > :first-child {
    margin-top: 0;
}

.row.uniform > * > :last-child {
    margin-bottom: 0;
}

.row.\30 \25 > * {
    padding: 0 0 0 0px;
}

.row.\30 \25 {
    margin: 0 0 -1px 0px;
}

.row.uniform.\30 \25 > * {
    padding: 0px 0 0 0px;
}

.row.uniform.\30 \25 {
    margin: 0px 0 -1px 0px;
}

.row > * {
    padding: 0 0 0 40px;
}

.row {
    margin: 0 0 -1px -40px;
}

.row.uniform > * {
    padding: 40px 0 0 40px;
}

.row.uniform {
    margin: -40px 0 -1px -40px;
}

.row.\32 00\25 > * {
               padding: 0 0 0 80px;
           }

.row.\32 00\25 {
               margin: 0 0 -1px -80px;
           }

.row.uniform.\32 00\25 > * {
                       padding: 80px 0 0 80px;
                   }

.row.uniform.\32 00\25 {
                       margin: -80px 0 -1px -80px;
                   }

.row.\31 50\25 > * {
               padding: 0 0 0 60px;
           }

.row.\31 50\25 {
               margin: 0 0 -1px -60px;
           }

.row.uniform.\31 50\25 > * {
                       padding: 60px 0 0 60px;
                   }

.row.uniform.\31 50\25 {
                       margin: -60px 0 -1px -60px;
                   }

.row.\35 0\25 > * {
              padding: 0 0 0 20px;
          }

.row.\35 0\25 {
              margin: 0 0 -1px -20px;
          }

.row.uniform.\35 0\25 > * {
                      padding: 20px 0 0 20px;
                  }

.row.uniform.\35 0\25 {
                      margin: -20px 0 -1px -20px;
                  }

.row.\32 5\25 > * {
              padding: 0 0 0 10px;
          }

.row.\32 5\25 {
              margin: 0 0 -1px -10px;
          }

.row.uniform.\32 5\25 > * {
                      padding: 10px 0 0 10px;
                  }

.row.uniform.\32 5\25 {
                      margin: -10px 0 -1px -10px;
                  }

.\31 2u, .\31 2u\24 {
                   width: 100%;
                   clear: none;
                   margin-left: 0;
               }

.\31 1u, .\31 1u\24 {
                   width: 91.6666666667%;
                   clear: none;
                   margin-left: 0;
               }

.\31 0u, .\31 0u\24 {
                   width: 83.3333333333%;
                   clear: none;
                   margin-left: 0;
               }

.\39 u, .\39 u\24 {
    width: 75%;
    clear: none;
    margin-left: 0;
}

.\38 u, .\38 u\24 {
    width: 66.6666666667%;
    clear: none;
    margin-left: 0;
}

.\37 u, .\37 u\24 {
    width: 58.3333333333%;
    clear: none;
    margin-left: 0;
}

.\36 u, .\36 u\24 {
    width: 50%;
    clear: none;
    margin-left: 0;
}

.\35 u, .\35 u\24 {
    width: 41.6666666667%;
    clear: none;
    margin-left: 0;
}

.\34 u, .\34 u\24 {
    width: 33.3333333333%;
    clear: none;
    margin-left: 0;
}

.\33 u, .\33 u\24 {
    width: 25%;
    clear: none;
    margin-left: 0;
}

.\32 u, .\32 u\24 {
    width: 16.6666666667%;
    clear: none;
    margin-left: 0;
}

.\31 u, .\31 u\24 {
    width: 8.3333333333%;
    clear: none;
    margin-left: 0;
}

.\31 2u\24 + *,
      .\31 1u\24 + *,
            .\31 0u\24 + *,
                  .\39 u\24 + *,
                  .\38 u\24 + *,
                  .\37 u\24 + *,
                  .\36 u\24 + *,
                  .\35 u\24 + *,
                  .\34 u\24 + *,
                  .\33 u\24 + *,
                  .\32 u\24 + *,
                  .\31 u\24 + * {
                      clear: left;
                  }

.\-11u {
    margin-left: 91.66667%;
}

.\-10u {
    margin-left: 83.33333%;
}

.\-9u {
    margin-left: 75%;
}

.\-8u {
    margin-left: 66.66667%;
}

.\-7u {
    margin-left: 58.33333%;
}

.\-6u {
    margin-left: 50%;
}

.\-5u {
    margin-left: 41.66667%;
}

.\-4u {
    margin-left: 33.33333%;
}

.\-3u {
    margin-left: 25%;
}

.\-2u {
    margin-left: 16.66667%;
}

.\-1u {
    margin-left: 8.33333%;
}

@media screen and (min-width: 737px) {

    .row > * {
        padding: 50px 0 0 50px;
    }

    .row {
        margin: -50px 0 -1px -50px;
    }

    .row.uniform > * {
        padding: 50px 0 0 50px;
    }

    .row.uniform {
        margin: -50px 0 -1px -50px;
    }

    .row.\32 00\25 > * {
                   padding: 100px 0 0 100px;
               }

    .row.\32 00\25 {
                   margin: -100px 0 -1px -100px;
               }

    .row.uniform.\32 00\25 > * {
                           padding: 100px 0 0 100px;
                       }

    .row.uniform.\32 00\25 {
                           margin: -100px 0 -1px -100px;
                       }

    .row.\31 50\25 > * {
                   padding: 75px 0 0 75px;
               }

    .row.\31 50\25 {
                   margin: -75px 0 -1px -75px;
               }

    .row.uniform.\31 50\25 > * {
                           padding: 75px 0 0 75px;
                       }

    .row.uniform.\31 50\25 {
                           margin: -75px 0 -1px -75px;
                       }

    .row.\35 0\25 > * {
                  padding: 25px 0 0 25px;
              }

    .row.\35 0\25 {
                  margin: -25px 0 -1px -25px;
              }

    .row.uniform.\35 0\25 > * {
                          padding: 25px 0 0 25px;
                      }

    .row.uniform.\35 0\25 {
                          margin: -25px 0 -1px -25px;
                      }

    .row.\32 5\25 > * {
                  padding: 12.5px 0 0 12.5px;
              }

    .row.\32 5\25 {
                  margin: -12.5px 0 -1px -12.5px;
              }

    .row.uniform.\32 5\25 > * {
                          padding: 12.5px 0 0 12.5px;
                      }

    .row.uniform.\32 5\25 {
                          margin: -12.5px 0 -1px -12.5px;
                      }

    .\31 2u\28desktop\29, .\31 2u\24\28desktop\29 {
                                    width: 100%;
                                    clear: none;
                                    margin-left: 0;
                                }

    .\31 1u\28desktop\29, .\31 1u\24\28desktop\29 {
                                    width: 91.6666666667%;
                                    clear: none;
                                    margin-left: 0;
                                }

    .\31 0u\28desktop\29, .\31 0u\24\28desktop\29 {
                                    width: 83.3333333333%;
                                    clear: none;
                                    margin-left: 0;
                                }

    .\39 u\28desktop\29, .\39 u\24\28desktop\29 {
        width: 75%;
        clear: none;
        margin-left: 0;
    }

    .\38 u\28desktop\29, .\38 u\24\28desktop\29 {
        width: 66.6666666667%;
        clear: none;
        margin-left: 0;
    }

    .\37 u\28desktop\29, .\37 u\24\28desktop\29 {
        width: 58.3333333333%;
        clear: none;
        margin-left: 0;
    }

    .\36 u\28desktop\29, .\36 u\24\28desktop\29 {
        width: 50%;
        clear: none;
        margin-left: 0;
    }

    .\35 u\28desktop\29, .\35 u\24\28desktop\29 {
        width: 41.6666666667%;
        clear: none;
        margin-left: 0;
    }

    .\34 u\28desktop\29, .\34 u\24\28desktop\29 {
        width: 33.3333333333%;
        clear: none;
        margin-left: 0;
    }

    .\33 u\28desktop\29, .\33 u\24\28desktop\29 {
        width: 25%;
        clear: none;
        margin-left: 0;
    }

    .\32 u\28desktop\29, .\32 u\24\28desktop\29 {
        width: 16.6666666667%;
        clear: none;
        margin-left: 0;
    }

    .\31 u\28desktop\29, .\31 u\24\28desktop\29 {
        width: 8.3333333333%;
        clear: none;
        margin-left: 0;
    }

    .\31 2u\24\28desktop\29 + *,
          .\31 1u\24\28desktop\29 + *,
                .\31 0u\24\28desktop\29 + *,
                      .\39 u\24\28desktop\29 + *,
                      .\38 u\24\28desktop\29 + *,
                      .\37 u\24\28desktop\29 + *,
                      .\36 u\24\28desktop\29 + *,
                      .\35 u\24\28desktop\29 + *,
                      .\34 u\24\28desktop\29 + *,
                      .\33 u\24\28desktop\29 + *,
                      .\32 u\24\28desktop\29 + *,
                      .\31 u\24\28desktop\29 + * {
                          clear: left;
                      }

    .\-11u\28desktop\29 {
        margin-left: 91.66667%;
    }

    .\-10u\28desktop\29 {
        margin-left: 83.33333%;
    }

    .\-9u\28desktop\29 {
        margin-left: 75%;
    }

    .\-8u\28desktop\29 {
        margin-left: 66.66667%;
    }

    .\-7u\28desktop\29 {
        margin-left: 58.33333%;
    }

    .\-6u\28desktop\29 {
        margin-left: 50%;
    }

    .\-5u\28desktop\29 {
        margin-left: 41.66667%;
    }

    .\-4u\28desktop\29 {
        margin-left: 33.33333%;
    }

    .\-3u\28desktop\29 {
        margin-left: 25%;
    }

    .\-2u\28desktop\29 {
        margin-left: 16.66667%;
    }

    .\-1u\28desktop\29 {
        margin-left: 8.33333%;
    }

}

@media screen and (min-width: 737px) and (max-width: 1200px) {

    .row > * {
        padding: 35px 0 0 35px;
    }

    .row {
        margin: -35px 0 -1px -35px;
    }

    .row.uniform > * {
        padding: 35px 0 0 35px;
    }

    .row.uniform {
        margin: -35px 0 -1px -35px;
    }

    .row.\32 00\25 > * {
                   padding: 70px 0 0 70px;
               }

    .row.\32 00\25 {
                   margin: -70px 0 -1px -70px;
               }

    .row.uniform.\32 00\25 > * {
                           padding: 70px 0 0 70px;
                       }

    .row.uniform.\32 00\25 {
                           margin: -70px 0 -1px -70px;
                       }

    .row.\31 50\25 > * {
                   padding: 52.5px 0 0 52.5px;
               }

    .row.\31 50\25 {
                   margin: -52.5px 0 -1px -52.5px;
               }

    .row.uniform.\31 50\25 > * {
                           padding: 52.5px 0 0 52.5px;
                       }

    .row.uniform.\31 50\25 {
                           margin: -52.5px 0 -1px -52.5px;
                       }

    .row.\35 0\25 > * {
                  padding: 17.5px 0 0 17.5px;
              }

    .row.\35 0\25 {
                  margin: -17.5px 0 -1px -17.5px;
              }

    .row.uniform.\35 0\25 > * {
                          padding: 17.5px 0 0 17.5px;
                      }

    .row.uniform.\35 0\25 {
                          margin: -17.5px 0 -1px -17.5px;
                      }

    .row.\32 5\25 > * {
                  padding: 8.75px 0 0 8.75px;
              }

    .row.\32 5\25 {
                  margin: -8.75px 0 -1px -8.75px;
              }

    .row.uniform.\32 5\25 > * {
                          padding: 8.75px 0 0 8.75px;
                      }

    .row.uniform.\32 5\25 {
                          margin: -8.75px 0 -1px -8.75px;
                      }

    .\31 2u\28tablet\29, .\31 2u\24\28tablet\29 {
                                   width: 100%;
                                   clear: none;
                                   margin-left: 0;
                               }

    .\31 1u\28tablet\29, .\31 1u\24\28tablet\29 {
                                   width: 91.6666666667%;
                                   clear: none;
                                   margin-left: 0;
                               }

    .\31 0u\28tablet\29, .\31 0u\24\28tablet\29 {
                                   width: 83.3333333333%;
                                   clear: none;
                                   margin-left: 0;
                               }

    .\39 u\28tablet\29, .\39 u\24\28tablet\29 {
        width: 75%;
        clear: none;
        margin-left: 0;
    }

    .\38 u\28tablet\29, .\38 u\24\28tablet\29 {
        width: 66.6666666667%;
        clear: none;
        margin-left: 0;
    }

    .\37 u\28tablet\29, .\37 u\24\28tablet\29 {
        width: 58.3333333333%;
        clear: none;
        margin-left: 0;
    }

    .\36 u\28tablet\29, .\36 u\24\28tablet\29 {
        width: 50%;
        clear: none;
        margin-left: 0;
    }

    .\35 u\28tablet\29, .\35 u\24\28tablet\29 {
        width: 41.6666666667%;
        clear: none;
        margin-left: 0;
    }

    .\34 u\28tablet\29, .\34 u\24\28tablet\29 {
        width: 33.3333333333%;
        clear: none;
        margin-left: 0;
    }

    .\33 u\28tablet\29, .\33 u\24\28tablet\29 {
        width: 25%;
        clear: none;
        margin-left: 0;
    }

    .\32 u\28tablet\29, .\32 u\24\28tablet\29 {
        width: 16.6666666667%;
        clear: none;
        margin-left: 0;
    }

    .\31 u\28tablet\29, .\31 u\24\28tablet\29 {
        width: 8.3333333333%;
        clear: none;
        margin-left: 0;
    }

    .\31 2u\24\28tablet\29 + *,
          .\31 1u\24\28tablet\29 + *,
                .\31 0u\24\28tablet\29 + *,
                      .\39 u\24\28tablet\29 + *,
                      .\38 u\24\28tablet\29 + *,
                      .\37 u\24\28tablet\29 + *,
                      .\36 u\24\28tablet\29 + *,
                      .\35 u\24\28tablet\29 + *,
                      .\34 u\24\28tablet\29 + *,
                      .\33 u\24\28tablet\29 + *,
                      .\32 u\24\28tablet\29 + *,
                      .\31 u\24\28tablet\29 + * {
                          clear: left;
                      }

    .\-11u\28tablet\29 {
        margin-left: 91.66667%;
    }

    .\-10u\28tablet\29 {
        margin-left: 83.33333%;
    }

    .\-9u\28tablet\29 {
        margin-left: 75%;
    }

    .\-8u\28tablet\29 {
        margin-left: 66.66667%;
    }

    .\-7u\28tablet\29 {
        margin-left: 58.33333%;
    }

    .\-6u\28tablet\29 {
        margin-left: 50%;
    }

    .\-5u\28tablet\29 {
        margin-left: 41.66667%;
    }

    .\-4u\28tablet\29 {
        margin-left: 33.33333%;
    }

    .\-3u\28tablet\29 {
        margin-left: 25%;
    }

    .\-2u\28tablet\29 {
        margin-left: 16.66667%;
    }

    .\-1u\28tablet\29 {
        margin-left: 8.33333%;
    }

}

@media screen and (max-width: 736px) {

    .row > * {
        padding: 10px 0 0 10px;
    }

    .row {
        margin: -10px 0 -1px -10px;
    }

    .row.uniform > * {
        padding: 10px 0 0 10px;
    }

    .row.uniform {
        margin: -10px 0 -1px -10px;
    }

    .row.\32 00\25 > * {
                   padding: 20px 0 0 20px;
               }

    .row.\32 00\25 {
                   margin: -20px 0 -1px -20px;
               }

    .row.uniform.\32 00\25 > * {
                           padding: 20px 0 0 20px;
                       }

    .row.uniform.\32 00\25 {
                           margin: -20px 0 -1px -20px;
                       }

    .row.\31 50\25 > * {
                   padding: 15px 0 0 15px;
               }

    .row.\31 50\25 {
                   margin: -15px 0 -1px -15px;
               }

    .row.uniform.\31 50\25 > * {
                           padding: 15px 0 0 15px;
                       }

    .row.uniform.\31 50\25 {
                           margin: -15px 0 -1px -15px;
                       }

    .row.\35 0\25 > * {
                  padding: 5px 0 0 5px;
              }

    .row.\35 0\25 {
                  margin: -5px 0 -1px -5px;
              }

    .row.uniform.\35 0\25 > * {
                          padding: 5px 0 0 5px;
                      }

    .row.uniform.\35 0\25 {
                          margin: -5px 0 -1px -5px;
                      }

    .row.\32 5\25 > * {
                  padding: 2.5px 0 0 2.5px;
              }

    .row.\32 5\25 {
                  margin: -2.5px 0 -1px -2.5px;
              }

    .row.uniform.\32 5\25 > * {
                          padding: 2.5px 0 0 2.5px;
                      }

    .row.uniform.\32 5\25 {
                          margin: -2.5px 0 -1px -2.5px;
                      }

    .\31 2u\28mobile\29, .\31 2u\24\28mobile\29 {
                                   width: 100%;
                                   clear: none;
                                   margin-left: 0;
                               }

    .\31 1u\28mobile\29, .\31 1u\24\28mobile\29 {
                                   width: 91.6666666667%;
                                   clear: none;
                                   margin-left: 0;
                               }

    .\31 0u\28mobile\29, .\31 0u\24\28mobile\29 {
                                   width: 83.3333333333%;
                                   clear: none;
                                   margin-left: 0;
                               }

    .\39 u\28mobile\29, .\39 u\24\28mobile\29 {
        width: 75%;
        clear: none;
        margin-left: 0;
    }

    .\38 u\28mobile\29, .\38 u\24\28mobile\29 {
        width: 66.6666666667%;
        clear: none;
        margin-left: 0;
    }

    .\37 u\28mobile\29, .\37 u\24\28mobile\29 {
        width: 58.3333333333%;
        clear: none;
        margin-left: 0;
    }

    .\36 u\28mobile\29, .\36 u\24\28mobile\29 {
        width: 50%;
        clear: none;
        margin-left: 0;
    }

    .\35 u\28mobile\29, .\35 u\24\28mobile\29 {
        width: 41.6666666667%;
        clear: none;
        margin-left: 0;
    }

    .\34 u\28mobile\29, .\34 u\24\28mobile\29 {
        width: 33.3333333333%;
        clear: none;
        margin-left: 0;
    }

    .\33 u\28mobile\29, .\33 u\24\28mobile\29 {
        width: 25%;
        clear: none;
        margin-left: 0;
    }

    .\32 u\28mobile\29, .\32 u\24\28mobile\29 {
        width: 16.6666666667%;
        clear: none;
        margin-left: 0;
    }

    .\31 u\28mobile\29, .\31 u\24\28mobile\29 {
        width: 8.3333333333%;
        clear: none;
        margin-left: 0;
    }

    .\31 2u\24\28mobile\29 + *,
          .\31 1u\24\28mobile\29 + *,
                .\31 0u\24\28mobile\29 + *,
                      .\39 u\24\28mobile\29 + *,
                      .\38 u\24\28mobile\29 + *,
                      .\37 u\24\28mobile\29 + *,
                      .\36 u\24\28mobile\29 + *,
                      .\35 u\24\28mobile\29 + *,
                      .\34 u\24\28mobile\29 + *,
                      .\33 u\24\28mobile\29 + *,
                      .\32 u\24\28mobile\29 + *,
                      .\31 u\24\28mobile\29 + * {
                          clear: left;
                      }

    .\-11u\28mobile\29 {
        margin-left: 91.66667%;
    }

    .\-10u\28mobile\29 {
        margin-left: 83.33333%;
    }

    .\-9u\28mobile\29 {
        margin-left: 75%;
    }

    .\-8u\28mobile\29 {
        margin-left: 66.66667%;
    }

    .\-7u\28mobile\29 {
        margin-left: 58.33333%;
    }

    .\-6u\28mobile\29 {
        margin-left: 50%;
    }

    .\-5u\28mobile\29 {
        margin-left: 41.66667%;
    }

    .\-4u\28mobile\29 {
        margin-left: 33.33333%;
    }

    .\-3u\28mobile\29 {
        margin-left: 25%;
    }

    .\-2u\28mobile\29 {
        margin-left: 16.66667%;
    }

    .\-1u\28mobile\29 {
        margin-left: 8.33333%;
    }

}

/* Basic */

@-ms-viewport {
    width: device-width;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* Section/Article */

section, article {
    margin-bottom: 5em;
}

section > :last-child,
article > :last-child,
section:last-child,
article:last-child {
    margin-bottom: 0;
}

header {
    margin: 0 0 2em 0;
}

header h2, header h3 {
    margin: 0 0 0.25em 0;
}

header p {
    display: block;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.065em;
    font-size: 0.9em;
    color: #ffffff;
    margin: 0;
}

header h2 {
    color: white;
    font-size: 2em;
}

header h3 {
    color: lightgrey;
}

header p strong {
    color: lightgrey;
    font-weight: 800;
}

#description {
    margin-top: 75px;
    color: white;
    text-align: center;
    line-height: 1.5em;
}

#description p strong {
    color: lightgrey;
}

header.major {
    /*border-bottom: solid 1px #dbdbdb;*/
    margin: 0 0 3em 0;
}

header.major:after {
    content: '';
    display: block;
    border-top: solid 1px #dbdbdb;
    height: 8px;
}

header.major h2, header.major h3 {
    margin: 0 0 1.2em 0;
}

header.major p {
    margin: 0 0 1.5em 0;
    position: relative;
    top: -1em;
}

/* Image */

.image {
    position: relative;
    display: inline-block;
}

.image img {
    display: block;
    width: 100%;
    border-radius: 8px;
}

.image:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.75;
}

.image.featured {
    display: block;
    width: 100%;
    margin: 0 0 2.5em 0;
}

/* Box */

.box.feature1 {
    text-align: center;
}

.box.feature1 header.first h2 {
    font-size: 2.5em;
}

.box.feature1 header.first p {
    font-size: 1.2em;
}

.box.feature1 header.second {
    position: relative;
    display: inline-block;
    text-align: left;
    margin: 0 auto;
    white-space: nowrap;
    left: 24px;
}

.box.feature1 header.second p {
    line-height: 1em;
}

.box.feature1 header.second:before {
    font-size: 48px;
    position: absolute;
    right: 100%;
    margin-right: 18px;
    opacity: 0.5;
    bottom: -4px;
}

/* Icons */

.icon {
    text-decoration: none;
    color: lightgrey;
}

.icon:before {
    display: inline-block;
    font-family: FontAwesome;
    font-size: 1.25em;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon > .label {
    display: none;
}

/* Footer */

#footer {
    position:fixed;
    height: 70px;
    display:block;
    width: 100%;
    background: #333;
    z-index:9;
    color: #f2f2f2;
    padding: 20px 20px 20px 20px;
    bottom: 0;
}

#firstfooter {
    position:absolute;
    height: 50px;
    display:block;
    width: 100%;
    background: #36465D;
    z-index:9;
    text-align:center;
    color: #f2f2f2;
    padding: 20px 0 0 0;
    bottom: 0;
}

footer {
    margin: 2.5em 0 0 0;
}

.footer-icon {
    width: 3%;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
}

.wrapper {
    padding: 7em 0 20em 0;
}
