<link href="components/landing/landing.css" rel="stylesheet"/>

<div full-page options="$ctrl.mainOptions">
    <div class="section" id="section0">
        <div id="firstfooter">Scroll down to learn more</div>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-4 col-md-offset-4 col-lg-offset-0 col-lg-12">
                    <h1 class="heading">A WORLD OF PLANTS</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-4 col-md-offset-4" style="float: none">
                    <div class="account-wall" style="margin-top: 0px">
                        <div id="my-tab-content">
                            <div ui-view></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section section2">
        <div class="wrapper">
            <div class="inner">

                <!-- Feature 1 -->
                <section class="container box feature1">
                    <div class="row">
                        <div class="12u second-heading">
                            <header class="first major">
                                <h2>A WORLD OF PLANTS</h2>
                                <p>Learn <strong> Grow </strong> Compete</p>
                            </header>
                        </div>
                    </div>
                    <div class="row">
                        <div class="4u 12u(mobile)">
                            <section>
                                <div href="#" class="image featured"><img src="/images/pic02.jpg" alt=""/></div>
                                <header class="second icon fa-bar-chart-o">
                                    <h3>Analyse</h3>
                                    <p>Realtime readings & statistics</p>
                                </header>
                            </section>
                        </div>
                        <div class="4u 12u(mobile)">
                            <section>
                                <div class="image featured"><img src="/images/pic01.png" alt=""/></div>
                                <header class="second icon fa-wrench">
                                    <h3>Build</h3>
                                    <p>Your own custom Plant Box</p>
                                </header>
                            </section>
                        </div>
                        <div class="4u 12u(mobile)">
                            <section>
                                <div href="#" class="image featured"><img src="/images/pic03.jpg" alt=""/></div>
                                <header class="second icon fa-cog">
                                    <h3>Control</h3>
                                    <p>Automated conditions from the Web</p>
                                </header>
                            </section>
                        </div>
                    </div>
                    <div class="row">
                        <div class="12u" id="description">
                            <p><strong>A World of Plants</strong> is the next step in connecting people, computers and agriculture.</p>
                            <p>
                                <strong>Pick a plant</strong> you want to grow and build your own Plant Box by following our examples
                                or using your imagination.
                                <strong>Know how your plant is faring</strong> by viewing info like humidity, temperature and light
                                sources in realtime.
                                <strong>Take direct control</strong> and change automated conditions such as light intensity and water
                                levels, straight from the Web.
                            </p>
                        </div>
                    </div>
                </section>

            </div>
        </div>
        <footer id="footer" class="container">
            Made by Funge <img class="footer-icon" src="/images/aws.png" alt="AWS logo" /> Powered by AWS
        </footer>
    </div>

</div>
