<p>Username: <input type="text" class="form-control" ng-model="$ctrl.user.username"></p>
<p>Password: <input type="text" class="form-control" ng-model="$ctrl.user.password"></p>

<p><b>Username:</b> {{$ctrl.user.username}}</p>
<p><b>Password:</b> {{$ctrl.user.password}}</p>

<input type="button" class="btn btn-info" ng-click="$ctrl.loginUser($ctrl.user.username, $ctrl.user.password)" value="Login">
<input type="button" value="Clear Cache" ng-click="$ctrl.clearCache()">

<p>Not yet registered? <a href="#!/register">Register here</a></p>
<p>View plants: <a href="#!/create-plant">Create plant</a></p>
<a href="#!/create-plant">Create Plant</a>

<!-- TODO test logging out -->
<input type="button" ng-click="$ctrl.logoutUser($ctrl.user.username, $ctrl.user.password)" value="Logout">
