<!--<p>Username: <input type="text" class="form-control" ng-model="$ctrl.user.username"></p>-->
<!--<p>Password: <input type="text" class="form-control" ng-model="$ctrl.user.password"></p>-->

<!--<input type="button" class="btn btn-info" ng-click="$ctrl.loginUser($ctrl.user.username, $ctrl.user.password)" value="Login">-->
<!--<input type="button" value="Clear Cache" ng-click="$ctrl.clearCache()">-->

<!--<p>Not yet registered? <a href="#!/register">Register here</a></p>-->
<!--<p>View plants: <a href="#!/create-plant">Create plant</a></p>-->
<!--<a href="#!/create-plant">Create Plant</a>-->

<!--&lt;!&ndash; TODO test logging out &ndash;&gt;-->
<!--<input type="button" ng-click="$ctrl.logoutUser($ctrl.user.username, $ctrl.user.password)" value="Logout">-->

<div id="login">
    <form class="form-signin" action="" method="">
        <input type="text" class="form-control" placeholder="Username" required autofocus
               ng-model="$ctrl.user.username">
        <input type="password" class="form-control" placeholder="Password" required
               ng-model="$ctrl.user.password">
        <input type="button" class="btn btn-lg btn-primary btn-block" value="Sign In"
               ng-click="$ctrl.loginUser($ctrl.user.username, $ctrl.user.password)"/>
    </form>
    <div class="active">
        <img id="loading" style="display: none;" src="images/loading.gif" width="30px" height="30px">
    </div>
    <div id="tabs">
        <p id="switchToRegister" class="text-center" switch-to-register><a href="">Need an Account?</a></p>
    </div>
</div>

